.UIContentTopper {
	margin: 50px auto 15px; padding: 14px 0px 0px 17px; border-top-color: rgb(211, 218, 230); border-top-width: 2px; border-top-style: solid;
}
.UIContentTopperSlim {
	margin: 0px auto 15px; padding: 0px 0px 0px 17px;
}
.UIContentTopper_footer {
	margin: 5px auto 0px; width: 578px; font-size: 9px;
}
.UIContentTopper_text_container {
	width: 465px; margin-top: 6px; float: left;
}
.UIContentTopper_text_headline {
	font-size: 15px; font-weight: bold;
}
.UIContentTopper_text {
	font-size: 11px; margin-top: 4px;
}
.UIContentTopper_large .UIContentTopper_text {
	width: 400px;
}
.UIContentTopper_text_bold {
	font-weight: bold;
}
.UIContentTopper_thumbnail {
	margin: 0px 15px 0px 0px; float: left;
}
.UIContentTopper .verticalAlign {
	margin-top: 8px;
}
.fbForBusinessWrapper {
	margin: 0px auto; width: 980px;
}
.fbForBusinessContent {
	border-bottom-color: rgb(242, 242, 242); border-bottom-width: 1px; border-bottom-style: solid; position: relative;
}
.fbForBusinessNoBorder {
	border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
.fbForBusinessRightCol img {
	padding: 1px; border: 5px solid rgb(249, 249, 249); float: right; background-color: rgb(204, 204, 204);
}
.fbBusinessHomeVideo {
	border: 1px solid rgb(204, 204, 204); background-color: rgb(255, 255, 255);
}
.fbForBusinessContent img {
	float: left; display: block;
}
.fbForBusinessFloatedLeft {
	float: left; display: block;
}
.fbForBusinessPageHeader {
	margin-top: 40px;
}
.fbForBusinessHomePageHeaderText {
	margin-top: 50px;
}
.fbMarketingMenu {
	list-style: none; margin: 0px 0px 20px; padding: 0px;
}
.fbMarketingMenu a {
	font-size: 13px; border-top-color: rgb(229, 229, 229); border-top-width: 1px; border-top-style: solid; display: block;
}
.fbForBusinessMenuLast a {
	border-bottom-color: rgb(229, 229, 229); border-bottom-width: 1px; border-bottom-style: solid;
}
.fbMarketingMenu a.currentPage {
	background: url("/rsrc.php/v2/yK/r/9a4ELUaKgl6.png") no-repeat right rgb(249, 249, 249); text-decoration: none;
}
.fbMarketingMenu a:hover {
	background: url("/rsrc.php/v2/yK/r/9a4ELUaKgl6.png") no-repeat right rgb(249, 249, 249); text-decoration: none;
}
.fbForBusinessHelpfulLinks ul {
	list-style: none; padding-left: 0px; margin-left: 0px;
}
.fbForBusinessHelpfulLinks ul li {
	line-height: 1.5; font-size: 11px;
}
.fbForBusinessHelpfulLinks div {
	color: rgb(102, 102, 102); font-size: 11px;
}
.fbForBusinessTip {
	background: url("/rsrc.php/v2/yb/r/qt94E91uvnk.png") no-repeat 15px 10px rgb(249, 249, 249); border: 1px solid rgb(204, 204, 204); padding-left: 40px;
}
.fbForBusinessList li div {
	color: rgb(153, 153, 153); line-height: 20px; font-size: 15px;
}
.fbForBusinessBold {
	color: rgb(51, 51, 51);
}
.fbForBusinessList li .fbForBusinessBold {
	color: rgb(51, 51, 51);
}
.fbForBusinessEdit {
	border: 1px solid rgb(255, 255, 255); right: 0px; bottom: 0px; color: rgb(51, 51, 51); font-size: 9px; position: absolute; background-color: rgb(241, 241, 241);
}
.fbForBusinessEdit:hover {
	color: rgb(255, 255, 255); text-decoration: none; background-color: rgb(153, 153, 153);
}
.fbForBusinessNoBorder .fbForBusinessEdit {
	display: none;
}
.fbForBusinessWrapper .fbForBusinessAttachments {
	background: url("/rsrc.php/v2/yK/r/PVoadHmz34X.png") no-repeat top; list-style: none; width: 448px; padding-top: 47px; padding-left: 0px; margin-left: 0px;
}
.fbForBusinessAttachmentsEnclosure {
	background: url("/rsrc.php/v2/yw/r/rlgjEUjSSWK.png") no-repeat bottom; width: 448px; padding-bottom: 37px;
}
.fbForBusinessAttachments li {
	background: url("/rsrc.php/v2/yn/r/MLZBR-n8e2A.png") no-repeat left; line-height: 21px;
}
.fbForBusinessAttachments li a {
	padding-left: 40px; display: inline-block;
}
.fbForBusinessAttachments li.pdf a {
	background: url("/rsrc.php/v2/yV/r/XDUpQ0U94hl.png") no-repeat 10px;
}
.fbForBusinessSmallList li a {
	line-height: 16px; font-size: 11px;
}
.fbForBusinessFooter {
	background-color: rgb(249, 249, 249);
}
.fbForBusinessFooterLink {
	line-height: 25px; font-size: 13px;
}
.fbForBusinessOrderedList {
	color: rgb(153, 153, 153); padding-left: 0px; margin-left: 12px;
}
.videoSessionsLink {
	background: url("/rsrc.php/v2/yt/r/RoZBNsVW0yX.png") no-repeat left; padding-left: 20px; display: block; min-height: 15px;
}
.fbForBusinessBigButton {
	width: 200px;
}
.fbForBusinessBlock {
	width: 150px;
}
#captcha fieldset {
	margin: 0px; padding: 10px; border-top-color: rgb(192, 192, 192); border-bottom-color: rgb(192, 192, 192); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;
}
#captcha legend {
	color: gray;
}
#captcha .divider {
	display: none;
}
#captcha .captcha_refresh {
	color: gray; font-size: 9px;
}
#captcha .recaptcha_text {
	line-height: 16px; font-size: 11px;
}
#captcha .captcha_optout {
	padding: 10px 0px 5px; font-size: 11px;
}
#captcha #recaptcha_image {
	margin: 10px 0px 0px; font-weight: bold;
}
#captcha #recaptcha_image a.recaptcha_audio_cant_hear_link {
	font-size: 9px; font-weight: normal;
}
#captcha .captcha_loading {
	border: 0px currentColor;
}
#captcha .captcha_image img {
	border: 1px solid rgb(192, 192, 192);
}
#captcha .captcha_input input {
	width: 137px; margin-top: 4px; direction: ltr;
}
#captcha .captcha_input label {
	margin-right: 4px;
}
.register #captcha .captcha_input label {
	color: rgb(102, 102, 102); font-weight: bold;
}
.captcha#generic_dialog .generic_dialog_popup {
	width: 340px;
}
.captcha#generic_dialog #generic_dialog_popup {
	margin: auto; border: 0px solid white;
}
.captcha#generic_dialog #generic_dialog_popup legend {
	display: none;
}
.audiocaptcha {
	margin: 0px; padding: 0px; overflow: hidden; display: block;
}
.audiocaptcha a {
	display: block;
}
.recaptcha_is_showing_audio .recaptcha_only_if_image {
	display: none !important;
}
.recaptcha_is_showing_audio .recaptcha_only_if_audio {
	display: inline !important;
}
.captcha_interstitial {
	margin: 20px auto; padding: 20px; border: 1px solid rgb(204, 204, 204); width: 555px;
}
.fbIndex .uiWashLayoutBlueWash {
	background-color: rgb(221, 226, 237);
}
.fbIndex .contentContainer {
	margin: 0px auto; width: 980px;
}
.fbIndex .bodyWash {
	margin-bottom: 0px;
}
.fbIndex .locales {
	margin: 10px auto 0px; width: 980px;
}
.fbIndex .gradient {
	background: linear-gradient(white, rgb(211, 216, 232));
}
.fbIndex .gradient {
	min-width: 980px;
}
.fbIndex .gradient .gradientContent {
	margin: 0px auto; width: 980px;
}
._5iyz {
	max-width: 400px;
}
._5iyx {
	width: 450px; color: rgb(14, 56, 95); line-height: 29px; font-size: 20px; font-weight: bold; margin-top: 40px; word-spacing: -1px;
}
._5iyy {
	width: 565px; margin-right: 15px;
}
.fbIndexMap .title {
	width: 450px; color: rgb(14, 56, 95); line-height: 29px; font-size: 20px; margin-top: 40px; word-spacing: -1px;
}
.fbIndexMap .map {
	background: url("/rsrc.php/v2/yx/r/pyNVUg5EM0j.png") no-repeat; height: 195px;
}
.fbIndexMobile {
	background: url("/rsrc.php/v2/yK/r/BFOd681AL3h.png") no-repeat left bottom; width: 537px; height: 295px; padding-top: 45px;
}
.fbIndexMobile .phoneImage {
	margin-left: 50px;
}
.fbIndexMobile .rightSide {
	width: 370px;
}
.fbIndexMobile .title {
	color: rgb(32, 51, 96);
}
.fbIndexMobile .subtitle {
	color: rgb(32, 51, 96);
}
.fbIndexMobile .title {
	font-size: 20px; font-weight: normal;
}
.fbIndexMobile .subtitle {
	font-size: 15px;
}
.fbIndexMobile .mobileButton {
	margin-top: 55px;
}
.fbIndexFeaturedRegistration .feature {
	width: 550px;
}
.fbIndexFeaturedRegistration .signupForm {
	padding: 43px 0px 0px 15px; width: 383px;
}
.fbIndexFeaturedRegistration .headerTextContainer {
	border-bottom-color: rgb(154, 175, 202); border-bottom-width: 1px; border-bottom-style: solid;
}
.fbIndexFeaturedRegistration .mainTitle {
	color: rgb(14, 56, 95); font-size: 18px;
}
.fbIndexFeaturedRegistration .subtitle {
	color: rgb(14, 56, 95); font-size: 15px;
}
.fbIndexFeaturedRegistration #reg_box .large_form label {
	font-weight: normal;
}
._50dz .detailColumn {
	width: 312px; text-align: center; display: inline-block;
}
._50dz .notLast.detailColumn {
	margin-right: 22px;
}
._50dz .detailText {
	padding: 0px 20px; line-height: 20px; font-size: 15px;
}
._50dz .more {
	margin: 20px 0px 40px; padding: 20px 0px; text-align: center;
}
._50dz .more h3 {
	padding-top: 20px;
}
._50dz .moreLinks {
	line-height: 22px; font-size: 17px;
}
._50dz .aboutPageContent h3 {
	margin: 10px 0px; line-height: 126%; font-size: 19px;
}
._50dz .aboutPageContent {
	margin: 20px auto; width: 980px;
}
.localeSelectorList a.showMore {
	padding: 0px 6px 2px; background-color: rgb(236, 239, 245);
}
.localeSelectorList a.showMore:hover {
	color: rgb(255, 255, 255); text-decoration: none; background-color: rgb(109, 132, 180);
}
.menu_login_container table tr {
	vertical-align: top;
}
.menu_login_container table tr td {
	padding: 0px 0px 0px 14px;
}
.menu_login_container .html7magic {
	padding-bottom: 4px;
}
.menu_login_container .inputtext {
	border-color: rgb(29, 42, 91); margin: 0px; width: 142px;
}
.menu_login_container .inputpassword {
	border-color: rgb(29, 42, 91); margin: 0px; width: 142px;
}
.menu_login_container .login_form_label_field label {
	color: rgb(152, 169, 202); font-weight: normal;
}
.menu_login_container .login_form_label_field a {
	color: rgb(152, 169, 202); font-weight: normal;
}
.menu_login_container .login_form_label_field {
	padding-top: 4px;
}
.menu_login_container .html7magic label {
	color: rgb(255, 255, 255); padding-left: 1px; font-weight: normal;
}
.menu_login_container #email {
	direction: ltr;
}
.login_form_standalone_labels .inputtext {
	border-color: rgb(150, 166, 197); padding: 6px; width: 250px; font-size: 16px;
}
.login_form_standalone_labels .inputpassword {
	border-color: rgb(150, 166, 197); padding: 6px; width: 250px; font-size: 16px;
}
.login_form_standalone_labels label {
	color: rgb(29, 42, 91); font-size: 13px; font-weight: normal;
}
.login_form_standalone_labels .login_form_label_field a {
	color: rgb(59, 89, 152); font-size: 13px;
}
.login_form_standalone_labels td.html7magic {
	text-align: right;
}
.login_form_standalone_labels .uiButton input {
	padding: 3px 25px 5px; font-size: 13px;
}
table.login_form_standalone_labels tr td {
	padding: 0px; height: 30px; vertical-align: middle;
}
._6_ {
	vertical-align: top; display: inline-block;
}
._70 {
	width: 67px;
}
._71 {
	width: 150px;
}
._72 {
	width: 233px;
}
._73 {
	width: 316px;
}
._74 {
	width: 399px;
}
._75 {
	width: 482px;
}
._76 {
	width: 565px;
}
._77 {
	width: 648px;
}
._78 {
	width: 731px;
}
._79 {
	width: 814px;
}
._7a {
	width: 897px;
}
._7b {
	width: 980px;
}
._7c {
	margin-left: 15.99px !important;
}
._7d {
	margin-right: 15.99px !important;
}
._6j {
	border-radius: 5px; border: 1px solid currentColor; color: rgb(255, 255, 255); letter-spacing: 1px; display: inline-block; position: relative; cursor: pointer; text-shadow: 0px 1px 2px rgba(0,0,0,0.5);
}
._6nw ._6j {
	font-size: 23px;
}
._6j:hover {
	text-decoration: none;
}
._6wk {
	padding: 20px 30px;
}
._6wl {
	background: linear-gradient(rgb(103, 174, 85), rgb(87, 136, 67)) rgb(105, 167, 78); border-color: rgb(59, 110, 34) rgb(59, 110, 34) rgb(44, 81, 21); box-shadow: inset 0px 1px 1px #a4e388;
}
._6wl:hover {
	background: linear-gradient(rgb(121, 188, 100), rgb(87, 136, 67));
}
._6wm {
	border-width: 0px; box-shadow: inset 0px 1px 1px #acee8f, 0px 1px 5px #000;
}
._6wm:active {
	box-shadow: inset 0px 1px 1px #acee8f, 0px 0px 3px #000;
}
._6wn {
	background: linear-gradient(rgb(105, 143, 191), rgb(80, 111, 165)) rgb(96, 121, 174); border-color: rgb(41, 72, 124) rgb(41, 72, 124) rgb(26, 58, 109); box-shadow: inset 0px 1px 1px #96b7f1;
}
._6wn:hover {
	background: linear-gradient(rgb(125, 157, 206), rgb(80, 111, 165));
}
._6wo {
	border-width: 0px; box-shadow: inset 0px 1px 1px #96b7f1, 0px 1px 5px #000;
}
._6wo:active {
	box-shadow: inset 0px 1px 1px #96b7f1, 0px 0px 3px #000;
}
._6j:active {
	top: 1px;
}
._67u {
	background: linear-gradient(rgb(253, 253, 253), rgb(229, 229, 229)) rgb(253, 253, 253); border-color: rgb(166, 166, 166) rgb(149, 149, 149) rgb(149, 149, 149); top: 0px; color: rgb(184, 184, 184); cursor: default; box-shadow: inset 0px 1px 1px #fff; text-shadow: none;
}
._67u:hover {
	background: linear-gradient(rgb(253, 253, 253), rgb(229, 229, 229)) rgb(253, 253, 253); border-color: rgb(166, 166, 166) rgb(149, 149, 149) rgb(149, 149, 149); top: 0px; color: rgb(184, 184, 184); cursor: default; box-shadow: inset 0px 1px 1px #fff; text-shadow: none;
}
._67u:active {
	background: linear-gradient(rgb(253, 253, 253), rgb(229, 229, 229)) rgb(253, 253, 253); border-color: rgb(166, 166, 166) rgb(149, 149, 149) rgb(149, 149, 149); top: 0px; color: rgb(184, 184, 184); cursor: default; box-shadow: inset 0px 1px 1px #fff; text-shadow: none;
}
._6wp {
	box-shadow: inset 0px 1px 1px #fff, 0px 0px 3px #000;
}
._50qd {
	padding-top: 9px; position: absolute;
}
._6n {
	line-height: 120%; font-size: 23px;
}
._6o {
	line-height: 126%; font-size: 19px;
}
._6p {
	line-height: 22px; font-size: 17px;
}
._6q {
	line-height: 20px; font-size: 15px;
}
._6s {
	color: rgb(51, 51, 51);
}
._6t {
	color: rgb(102, 102, 102);
}
._6u {
	color: rgb(153, 153, 153);
}
._7g {
	color: rgb(255, 255, 255);
}
._6v {
	font-weight: bold;
}
._mf {
	font-weight: normal;
}
._6w {
	text-align: left;
}
._6x {
	text-align: center;
}
._6y {
	text-align: right;
}
._6z {
	text-align: justify;
}
.loggedout_menubar_container {
	height: 82px; min-width: 980px; background-color: rgb(59, 89, 152);
}
.loggedout_menubar {
	margin: 0px auto; width: 980px; padding-top: 13px;
}
.loggedout_menubar .fb_logo {
	margin-top: 17px;
}
.loggedout_menubar label.menu_login_show_link {
	top: 19px; color: rgb(152, 169, 202); position: relative;
}
._58mq select {
	padding: 5px; height: 30px; font-size: 13px;
}
._58mr {
	color: rgb(20, 24, 35); font-size: 18px; font-weight: normal;
}
._59zo ._58mr {
	color: rgb(145, 151, 163); font-size: 16px; float: left;
}
._59zo ._58mq {
	margin-right: 0px;
}
._5k_4 {
	display: inline-block;
}
._3pmp {
	margin-right: 0px;
}
._5k_5 {
	position: relative;
}
._58ms {
	vertical-align: middle; display: inline-block; max-width: 140px;
}
._5dva {
	padding-right: 6px;
}
._59zo ._58mq ._55pe {
	width: 85px; text-align: left; color: rgb(145, 151, 163); font-size: 16px; font-weight: normal;
}
._59zo ._58mq ._5dv9 ._55pe {
	color: rgb(0, 0, 0);
}
._59zo ._58mq .selected ._55pe {
	color: rgb(255, 255, 255);
}
._58ms {
	font-size: 11px; max-width: 150px;
}
._59zo ._58ms {
	text-align: left; color: rgb(59, 89, 152); font-size: 9px; vertical-align: text-top; max-width: 300px;
}
._5dgj ._58mr {
	color: rgb(255, 255, 255); text-shadow: 0px 0px 4px rgba(0,0,0,0.3);
}
._5dgj ._58ms {
	color: rgb(255, 255, 255); text-shadow: 0px 0px 4px rgba(0,0,0,0.3);
}
._5dgj ._58ms a {
	color: rgb(255, 255, 255); font-weight: bold;
}
._58mq ._5k_5 ._5k_6 {
	top: 4px;
}
._58mq ._5k_5 ._5k_7 {
	top: 4px;
}
._58mw {
	line-height: 16px; padding-top: 10px;
}
._58mw h2 {
	padding-bottom: 3px;
}
._58mw .captcha_input {
	margin: 5px 0px;
}
._58mx {
	margin-right: 50px;
}
._58my {
	line-height: 14px; font-size: 12px; font-weight: bold; margin-top: 6px; float: left;
}
._58mz {
	background-position: -239px -494px; width: 12px; height: 17px; margin-top: 5px; float: left; background-image: url("/rsrc.php/v2/yC/r/l6el_tG7uTG.png"); background-repeat: no-repeat; background-size: auto;
}
#captcha_response {
	padding: 3px;
}
._5633 {
	padding: 13px; font-size: 13px; max-width: 300px;
}
._5634._5633 {
	color: rgb(255, 255, 255);
}
._5635._5633 {
	background: rgb(221, 174, 43); color: rgb(255, 255, 255);
}
._58mf div._5634 ._5dba {
	border-style: solid; border-color: rgb(139, 3, 0);
}
._58mf ._5635 ._5dba {
	border-style: solid; border-color: rgb(221, 174, 43);
}
._58mf ._5636 ._5dba {
	border-style: solid; border-color: rgb(111, 181, 84);
}
._5dbb {
	position: relative;
}
._5dbb ._5dbc {
	top: 9px; right: 9px; display: none; position: absolute;
}
._5dbb ._5dbd {
	top: 9px; right: 9px; display: none; position: absolute;
}
._5634._5dbb ._5dbc {
	display: inline;
}
._5635._5dbb ._5dbd {
	display: inline;
}
._58mf {
	margin: 0px auto; padding-bottom: 30px;
}
._58mf._59zo {
	margin: 0px; width: 410px; padding-bottom: 0px; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.timelineSignUpDialog ._58mf {
	padding-bottom: 0px;
}
._58mi {
	padding: 7px 20px; text-align: center; min-width: 194px;
}
._59zo ._1lch {
	border-top-color: rgb(160, 169, 192); border-top-width: 1px; border-top-style: solid;
}
._59zo ._58mi {
	background: linear-gradient(rgb(99, 123, 173), rgb(79, 103, 164)); padding: 0px; border-radius: 3px; border: 1px solid rgb(29, 56, 113); width: 406px; height: 51px; color: rgb(255, 255, 255); line-height: 51px; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 18px; font-weight: normal; box-shadow: inset 0px 1px 0px #6f85b3, 0px 2px 1px rgba(0,0,0,0.18); text-shadow: 0px -1px 1px rgba(0,0,0,0.4);
}
._59zo ._58mi:active {
	background: linear-gradient(rgb(82, 106, 165), rgb(84, 108, 166));
}
._58mj {
	font-size: 16px;
}
._58mk {
	color: rgb(102, 102, 102); padding-top: 15px; font-size: 13px; font-weight: bold; margin-top: 10px; border-top-color: rgb(160, 169, 192); border-top-width: 1px; border-top-style: solid;
}
._58ml {
	top: 3px; margin-left: 10px; position: relative;
}
._59zo ._58ml {
	top: auto; margin-top: 15px; margin-left: 371px; position: absolute;
}
._58mm {
	float: left;
}
._59zo ._58mm {
	margin-right: 0px; float: right;
}
._58mn {
	background: rgb(255, 235, 232); margin: 10px 0px 0px; border: 1px solid rgb(221, 60, 16); text-align: center; line-height: 15px; overflow: hidden;
}
._58mo {
	padding: 7px 3px;
}
._5k_2 {
	border-width: 1px; padding: 5px 0px 5px 4px; border-radius: 4px; display: inline-block;
}
:first-child._5k_2 {
	margin-right: 4px;
}
._5k_3 {
	display: inline-block;
}
._59zo ._5k_3 {
	position: relative;
}
._58mt {
	padding: 0px 10px 0px 3px; color: rgb(20, 24, 35); line-height: 18px; font-size: 18px; font-weight: normal;
}
._59zo ._3tkt {
	color: rgb(145, 151, 163); line-height: 16px; font-size: 16px; font-weight: normal; vertical-align: middle;
}
._59zo ._5wa2 {
	margin-bottom: 12px;
}
._59zo ._58mt {
	padding-top: 1px; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 16px; vertical-align: top;
}
.ie10 ._59zo ._58mt > input + span::before {
	background-position: 0px 0px; width: 18px; height: 19px; background-image: url("/rsrc.php/v2/yC/r/l6el_tG7uTG.png"); background-repeat: no-repeat; background-size: auto;
}
.ie10 ._59zo ._58mt > input:active + span::before {
	background-position: 0px -20px; background-image: url("/rsrc.php/v2/yC/r/l6el_tG7uTG.png"); background-repeat: no-repeat; background-size: auto;
}
.ie10 ._59zo ._58mt > input:focus + span::before {
	background-position: 0px -40px; background-image: url("/rsrc.php/v2/yC/r/l6el_tG7uTG.png"); background-repeat: no-repeat; background-size: auto;
}
.ie10 ._59zo ._58mt > input:disabled + span::before {
	background-position: 0px -60px; background-image: url("/rsrc.php/v2/yC/r/l6el_tG7uTG.png"); background-repeat: no-repeat; background-size: auto;
}
.ie10 ._59zo ._58mt > input:checked + span::before {
	background-position: -20px 0px; background-image: url("/rsrc.php/v2/yC/r/l6el_tG7uTG.png"); background-repeat: no-repeat; background-size: auto;
}
.ie10 ._59zo ._58mt > input:checked:active + span::before {
	background-position: -20px -20px; background-image: url("/rsrc.php/v2/yC/r/l6el_tG7uTG.png"); background-repeat: no-repeat; background-size: auto;
}
.ie10 ._59zo ._58mt > input:checked:focus + span::before {
	background-position: -20px -40px; background-image: url("/rsrc.php/v2/yC/r/l6el_tG7uTG.png"); background-repeat: no-repeat; background-size: auto;
}
.ie10 ._59zo ._58mt > input:checked:disabled + span::before {
	background-position: -20px -60px; background-image: url("/rsrc.php/v2/yC/r/l6el_tG7uTG.png"); background-repeat: no-repeat; background-size: auto;
}
._5dgj label._58mt {
	color: rgb(255, 255, 255); text-shadow: 0px 0px 4px rgba(0,0,0,0.3);
}
._58mf ._58mg {
	border-color: rgb(189, 199, 216); margin: 0px; border-radius: 5px; width: 377px;
}
._58mf._59zo ._58mg {
	border-color: rgb(201, 202, 205); border-radius: 3px; width: 388px;
}
._58mf .uiStickyPlaceholderInput {
	background: white; border-radius: 5px; width: 399px;
}
._59zo._59zo .uiStickyPlaceholderInput {
	border-radius: 5px; width: 410px;
}
._58mf .uiStickyPlaceholderInput .placeholder {
	overflow: hidden; padding-left: 11px; white-space: nowrap; -ms-word-wrap: normal; -ms-text-overflow: ellipsis; box-sizing: border-box;
}
._58mf ._58mg {
	padding: 8px 10px; font-size: 18px;
}
._58mf .uiStickyPlaceholderInput .placeholder {
	padding: 8px 10px; font-size: 18px;
}
._58mf._59zo .uiStickyPlaceholderInput .placeholder {
	color: rgb(145, 151, 163);
}
._58mf._59zo ._58mg {
	padding: 10px; font-size: 16px;
}
._58mf._59zo .uiStickyPlaceholderInput .placeholder {
	padding: 10px; font-size: 16px;
}
._5vbc {
	border-color: rgb(189, 199, 216); padding: 8px 10px; border-radius: 3px; font-size: 14px;
}
._58mh {
	width: 399px;
}
._59zo ._58mh {
	width: 410px;
}
._58mh ._58mg {
	width: 172px;
}
._59zo ._58mh ._58mg {
	width: 179px;
}
._58mh .uiStickyPlaceholderInput {
	width: 194px;
}
._59zo ._58mh .uiStickyPlaceholderInput {
	width: 201px;
}
._58mu {
	width: 399px;
}
._59zo ._58mu {
	width: 408px;
}
._58mu ._58mv {
	width: 316px; color: rgb(119, 119, 119); font-size: 11px;
}
._59zo ._58mu ._58mv {
	width: 360px; text-align: center; color: rgb(145, 151, 163); font-size: 10px; margin-right: auto; margin-left: auto;
}
._5cg9 {
	margin-top: 5px; margin-bottom: 5px;
}
._5bmw ._58mv {
	padding: 4px; border: 1px solid rgb(145, 151, 163); -ms-overflow-y: scroll; max-height: 120px;
}
._5bmw ._58mv ~ .uiInputLabel {
	margin-top: 5px; margin-bottom: 5px;
}
._5bmw ._5cga {
	font-size: 12px;
}
._5dgj ._58mv {
	color: rgb(255, 255, 255); text-shadow: 0px 0px 4px rgba(0,0,0,0.3);
}
._5dgj ._58mv a {
	color: rgb(255, 255, 255); font-weight: bold;
}
._52lp {
	webkit-font-smoothing: antialiased;
}
._52lp ._52lq {
	color: rgb(20, 24, 35); font-family: "Freight Sans Bold", "lucida grande",tahoma,verdana,arial,sans-serif; font-size: 40px; font-weight: normal; white-space: nowrap;
}
._59d-._52lp ._52lq {
	font-size: 36px;
}
._59zm._52lp ._52lq {
	text-align: center; color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 30px;
}
._52lp ._52lr {
	color: rgb(78, 86, 101); line-height: 28px; font-family: "Freight Sans", "lucida grande",tahoma,verdana,arial,sans-serif; font-size: 22px; font-weight: normal;
}
._59d-._52lp ._52lr {
	color: rgb(20, 24, 35); font-size: 19px;
}
._59zm._52lp ._52lr {
	text-align: center; color: rgb(142, 152, 158); font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 16px;
}
.signupBanner div.signup_bar_container {
	background-color: transparent;
}
.signupBanner .signup_box {
	margin: 0px auto; padding: 0px; width: 980px; position: relative;
}
.signupBanner .signup_btn {
	left: 180px; top: -42px; position: absolute;
}
._572t ._53iv {
	padding: 12px;
}
._572t ._53ij {
	border-radius: 2px; border: 0px currentColor; color: rgb(255, 255, 255); box-shadow: 0px 0px 0px 1px rgba(139,3,0,0.75), 0px 1px 10px rgba(0,0,0,0.35); background-color: rgb(190, 75, 73);
}
._572t ._572u {
	border-color: rgb(211, 214, 219); margin: 0px 12px; padding: 8px 0px; background-color: rgb(190, 75, 73);
}
._572t ._53il {
	padding-top: 18px;
}
._572t ._53im {
	padding-right: 18px;
}
._572t ._53ik {
	padding-bottom: 18px;
}
._572t ._53in {
	padding-left: 18px;
}
._572t ._53il ._53io {
	background-position: -194px -481px; top: 7px; width: 22px; height: 11px; background-image: url("/rsrc.php/v2/yC/r/l6el_tG7uTG.png"); background-repeat: no-repeat; background-size: auto;
}
._572t ._53im ._53io {
	background-position: -183px -494px; width: 11px; height: 22px; right: 7px; background-image: url("/rsrc.php/v2/yC/r/l6el_tG7uTG.png"); background-repeat: no-repeat; background-size: auto;
}
._572t ._53ik ._53io {
	background-position: -171px -481px; width: 22px; height: 13px; bottom: 5px; background-image: url("/rsrc.php/v2/yC/r/l6el_tG7uTG.png"); background-repeat: no-repeat; background-size: auto;
}
._572t ._53in ._53io {
	background-position: -171px -494px; left: 7px; width: 11px; height: 22px; background-image: url("/rsrc.php/v2/yC/r/l6el_tG7uTG.png"); background-repeat: no-repeat; background-size: auto;
}
.UIPage_LoggedOut .UIFullPage_Container {
	margin-top: 26px;
}
.UIPage_LoggedOut .UIStandardFrame_Container {
	margin-top: 26px;
}
.UIPage_LoggedOut .fbPhotosGrid .photoDetails {
	width: inherit;
}
.sp_9vUokIDmpP8 {
	width: 11px; height: 21px; display: inline-block; background-image: url("/rsrc.php/v2/yC/r/l6el_tG7uTG.png"); background-repeat: no-repeat; background-size: auto;
}
.sx_bd86f8.sp_9vUokIDmpP8 {
	background-position: -239px -494px; height: 15px;
}
.sx_6a1d93.sp_9vUokIDmpP8 {
	background-position: -217px -481px; width: 9px; height: 9px;
}
.sx_c62282.sp_9vUokIDmpP8 {
	background-position: -171px -481px; width: 22px; height: 12px;
}
.sx_b7d756.sp_9vUokIDmpP8 {
	background-position: -171px -494px; height: 22px;
}
.sx_830570.sp_9vUokIDmpP8 {
	background-position: -183px -494px; height: 22px;
}
.sx_9ef755.sp_9vUokIDmpP8 {
	background-position: -194px -481px; width: 22px; height: 11px;
}
.sx_15c231.sp_9vUokIDmpP8 {
	background-position: 0px -481px; width: 170px; height: 36px;
}
.sx_2a69c6.sp_9vUokIDmpP8 {
	background-position: 0px 0px; width: 640px; height: 480px;
}
.sx_116e5b.sp_9vUokIDmpP8 {
	background-position: -195px -494px; width: 21px;
}
.sx_fa2374.sp_9vUokIDmpP8 {
	background-position: -217px -494px; width: 21px;
}
#bootloader_eNfvB {
	height: 42px;
}
.bootloader_eNfvB {
	display: block !important;
}
