.login-responsive .nav .dropdown-signin {
	display: none;
}
.nav li .dropdown-signup {
	display: none;
}
.login-responsive .nav .dropdown-signup {
	display: block;
}
.login-responsive .nav .dropdown-signup .emphasize {
	color: rgb(255, 204, 0);
}
.login-responsive .page-canvas {
	box-shadow: 0px 0px 225px rgba(255,255,255,0.55); background-color: rgb(255, 255, 255);
}
.language-dropdown {
	display: none;
}
.country-dropdown {
	display: none;
}
.session-dropdown {
	display: block;
}
.route-mobile-gallery .topbar .form-search {
	display: none;
}
.route-download .topbar .form-search {
	display: none;
}
.route-unsubscribe .topbar .form-search {
	display: none;
}
.front-page .language-dropdown {
	display: block;
}
.route-mobile-gallery .language-dropdown {
	display: block;
}
.route-download .language-dropdown {
	display: block;
}
.login-responsive .language-dropdown {
	display: block;
}
.front-page .country-dropdown {
	display: block;
}
.route-mobile-gallery .country-dropdown {
	display: block;
}
.route-download .country-dropdown {
	display: block;
}
.login-responsive .country-dropdown {
	display: block;
}
.front-page .session-dropdown {
	display: none;
}
.login-responsive .session-dropdown {
	display: none;
}
.route-download .session-dropdown {
	display: none;
}
.country-dropdown .dropdown-menu {
	width: 375px; right: 0px; position: absolute;
}
.language-dropdown .dropdown-menu {
	width: 375px; right: 0px; position: absolute;
}
.country-dropdown .dropdown-menu li {
	width: 125px; overflow: hidden; float: left; white-space: nowrap; -ms-text-overflow: ellipsis;
}
.language-dropdown .dropdown-menu li {
	width: 125px; overflow: hidden; float: left; white-space: nowrap; -ms-text-overflow: ellipsis;
}
.language-dropdown .dropdown-menu {
	width: 250px;
}
.language-dropdown .dropdown-menu li {
	width: 50%;
}
body.de .country-dropdown .dropdown-menu {
	width: 432px;
}
.dropdown-form {
	padding: 15px; left: auto; right: 0px;
}
.dropdown-form label {
	color: rgb(41, 47, 51);
}
.dropdown-form .remember {
	line-height: 25px; float: right; cursor: pointer;
}
.dropdown-form .divider {
	margin: 15px -15px;
}
.dropdown-form p a {
	display: inline;
}
.signin-wrapper {
	width: 585px; clear: both; display: block;
}
.signup-wrapper {
	width: 585px; clear: both; display: block;
}
.resend-password-wrapper {
	width: 585px; clear: both; display: block;
}
.mobile-complete-wrapper {
	width: 585px; clear: both; display: block;
}
.signin-wrapper {
	margin: 0px auto 10px;
}
.signup-wrapper {
	margin: 0px auto 10px;
}
.resend-password-wrapper {
	margin: 0px auto 30px;
}
.mobile-complete-wrapper {
	margin: 0px auto 40px;
}
.signin-wrapper h1 {
	padding: 40px 0px 20px; clear: both;
}
.signup-wrapper h1 {
	padding: 40px 0px 20px; clear: both;
}
.resend-password-wrapper h1 {
	padding: 40px 0px 20px; clear: both;
}
.mobile-complete-wrapper h1 {
	padding: 40px 0px 20px; clear: both;
}
.signup {
	padding: 10px 0px; border-radius: 5px;
}
.resend-password {
	padding: 10px 0px; border-radius: 5px;
}
.mobile-complete {
	padding: 10px 0px; border-radius: 5px;
}
.signin fieldset {
	margin-bottom: 16px;
}
.resend-password fieldset {
	margin-bottom: 16px;
}
.resend-password .separator {
	padding: 10px 0px;
}
.resend-password .input-prepend input.username-prepended-input {
	width: 254px;
}
.notification-prepended {
	margin-left: 4px;
}
.twttr-dialog-body .signin fieldset {
	margin-bottom: 0px;
}
.signin .password {
	width: 150px; font-size: 13px;
}
.signin .username {
	width: 150px; font-size: 13px;
}
.signin .subchck {
	margin-bottom: 0px; display: inline-block;
}
.ie9 .signin .remember input {
	min-height: 0px;
}
.signin .remember {
	text-align: left; color: rgb(41, 47, 51); line-height: 30px; margin-left: 12px;
}
.signin .field {
	margin-bottom: 15px;
}
.login-responsive .mobile {
	padding: 20px 12px 20px 126px; color: rgb(136, 153, 166); line-height: 13px; font-size: 13px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; background-color: rgb(244, 244, 244);
}
.route-resend-password .mobile {
	padding: 20px 12px 20px 126px; color: rgb(136, 153, 166); line-height: 13px; font-size: 13px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; background-color: rgb(244, 244, 244);
}
.contact-support {
	padding: 20px 12px 20px 126px; color: rgb(136, 153, 166); line-height: 13px; font-size: 13px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; background-color: rgb(244, 244, 244);
}
.signin-wrapper form input[type=text] {
	width: 97%; margin-right: 10px; max-width: 280px;
}
.signin-wrapper form input[type=password] {
	width: 97%; margin-right: 10px; max-width: 280px;
}
.resend-password-wrapper form input[type=text] {
	width: 97%; margin-right: 10px; max-width: 280px;
}
.signin-wrapper form .help-text-inline {
	left: 0px; top: 0px; display: inline-block; position: relative;
}
.dropdown-menu {
	width: auto;
}
.dropdown-menu .signin label {
	width: auto;
}
.dropdown-menu .signin {
	padding: 0px; width: 240px;
}
.dropdown-menu .signin p a {
	padding: 0px;
}
.dropdown-menu .password {
	padding-top: 10px;
}
.dropdown-menu .remember {
	margin: 0px; color: rgb(136, 153, 166);
}
.dropdown-menu .subchck {
	display: block;
}
.dropdown-menu .button {
	float: right;
}
.dropdown-menu input[type=text] {
	width: 230px;
}
.dropdown-menu input[type=password] {
	width: 230px;
}
.permalink-footer .SignupCallOut {
	margin-bottom: 10px;
}
.email-follow h2 {
	display: inline-block;
}
.email-follow-container {
	border-radius: 6px; border: 1px solid rgba(0, 0, 0, 0.1); border-image: none; margin-bottom: 10px; background-clip: padding-box; background-color: rgb(255, 255, 255);
}
.email-follow-container .container-header {
	padding: 12px;
}
.email-follow-container .container-footer {
	padding: 12px;
}
.email-follow-container .container-header {
	border-bottom-color: rgb(225, 232, 237); border-bottom-width: 1px; border-bottom-style: solid;
}
.email-follow-form input {
	display: inline-block;
}
.email-follow-form .signup-btn {
	width: 120px; line-height: 19px;
}
.email-follow-form input[type=text] {
	width: 362px;
}
.email-follow-form .tos-and-privacy {
	color: rgb(136, 153, 166); font-size: 11px; margin-top: 8px;
}
.email-follow-form .spinner-container {
	margin-top: 5px; float: right;
}
.email-follow .email-follow-thank-you {
	display: none;
}
.email-follow-thank-you .thank-you-message {
	color: rgb(136, 153, 166);
}
.link-form {
	display: inline;
}
.link-form .btn-link {
	color: rgb(0, 132, 180); font-size: 14px;
}
#sms-codes-dialog #sms_codes {
	width: 100%;
}
#sms-codes-dialog #sms_codes th {
	text-align: left; font-weight: bold;
}
#sms-codes-dialog #sms_codes tfoot td {
	padding-top: 1em;
}
.login-responsive .global-nav .container {
	width: auto; max-width: 865px;
}
.login-responsive .wrapper {
	width: auto; max-width: 837px;
}
.login-responsive .page-canvas {
	width: auto; max-width: 835px;
}
.login-responsive .signin-wrapper {
	padding: 0px 10px; width: auto; max-width: 585px;
}
.login-responsive .mobile {
	padding: 20px 10px; width: auto;
}
.login-responsive .mobile p {
	margin: 0px auto; max-width: 585px;
}
.login-responsive .mobile .signup-helper {
	margin-bottom: 15px;
}
@media screen and (max-width:1024px)
{
.login-responsive .signin-wrapper form {
	line-height: 22px; font-size: 14px;
}
.login-responsive .signin-wrapper input {
	padding: 6px; line-height: 22px; font-size: 16px;
}
.login-responsive .subchck {
	padding: 6px; line-height: 22px; font-size: 16px;
}
.signin-wrapper .primary-btn {
	padding: 9px 13px; font-size: 18px;
}
.login-responsive .signin .remember {
	line-height: 35px; font-size: 14px;
}
}
@media screen and (max-width:520px)
{
.login-responsive .page-canvas {
	border: 0px currentColor; border-image: none;
}
.login-responsive .signin-wrapper {
	padding: 0px 3%;
}
.login-responsive .wrapper {
	padding: 20px 0px 0px;
}
.login-responsive .signin-wrapper form input[type=text] {
	width: 94%; display: block; max-width: none;
}
.login-responsive .signin-wrapper form input[type=password] {
	width: 94%; display: block; max-width: none;
}
.login-responsive .signin-wrapper form .help-text-inline {
	line-height: 2.1;
}
.login-responsive .signin .field {
	margin-bottom: 4px;
}
.login-responsive .signin-wrapper .primary-btn {
	width: 98%; padding-right: 0px; padding-left: 0px;
}
.login-responsive .signin .remember {
	margin-left: 0px;
}
.message {
	width: 92%;
}
}
.login-verification {
	margin: 0px 0px 20px;
}
.login-verification-push p {
	margin-bottom: 16px;
}
.logged-out .topbar {
	box-shadow: none;
}
.logged-out .nav > li > a {
	color: inherit; text-shadow: none;
}
.logged-out .nav > li > a:hover {
	color: inherit;
}
.logged-out .home {
	color: rgb(85, 172, 238);
}
.logged-out .nav > li > .nav-logo-link {
	padding: 0px 20px; height: 46px; font-size: 24px; display: block;
}
.logged-out .pull-right {
	margin: 16px 30px 0px 0px;
}
.logged-out .global-nav .pull-right .dropdown-toggle {
	height: auto; padding-bottom: 5px;
}
.logged-out .global-nav .pull-right .dropdown-toggle .caret {
	margin-top: 0px; vertical-align: middle;
}
.logged-out .pull-right .dropdown.open .caret {
	border-top-color: rgb(102, 117, 127);
}
.logged-out .pull-right .dropdown-toggle:hover .caret {
	border-top-color: rgb(102, 117, 127);
}
.logged-out .global-nav .form-search {
	text-align: left; margin-top: -9px;
}
.logged-out .topbar .top-bar-big-search-box-experiment.search-container {
	margin-left: 215px; float: left;
}
.logged-out .global-nav .top-bar-big-search-box-experiment .search-tagline {
	display: none;
}
.logged-out .global-nav .top-bar-big-search-box-experiment .form-search {
	width: 590px; height: 32px; margin-top: 7px; margin-right: 0px;
}
.logged-out .global-nav .top-bar-big-search-box-experiment .form-search .typeahead .dropdown-caret {
	display: none;
}
.logged-out .global-nav .top-bar-big-search-box-experiment .form-search .typeahead {
	border-radius: 0px 0px 4px 4px; border: 1px solid rgb(204, 214, 221); border-image: none; width: 590px; padding-top: 0px; margin-top: -2px; opacity: 0.99; box-shadow: 0px 2px 6px rgba(0,0,0,0.25); background-color: rgb(245, 248, 250);
}
.logged-out .global-nav .top-bar-big-search-box-experiment .search-input {
	padding: 5px 33px 5px 10px; border-radius: 4px; border: 1px solid rgb(204, 214, 221); border-image: none; width: 545px; height: 20px; color: rgb(170, 184, 194); line-height: 20px; font-size: 16px; box-sizing: content-box; opacity: 1; background-image: none; background-color: rgb(245, 248, 250); -moz-box-sizing: content-box;
}
.logged-out .global-nav .top-bar-big-search-box-experiment .search-input:focus {
	color: rgb(102, 117, 127);
}
.logged-out .global-nav .top-bar-big-search-box-experiment :-ms-input-placeholder.search-input {
	color: rgb(170, 184, 194); line-height: 20px; opacity: 1;
}
.logged-out .global-nav .top-bar-big-search-box-experiment :-ms-input-placeholder.search-input:focus {
	color: rgb(204, 214, 221);
}
.logged-out .global-nav .top-bar-big-search-box-experiment .search-icon {
	top: 0px; width: 33px; height: 32px; right: 0px;
}
.logged-out .global-nav .top-bar-big-search-box-experiment .Icon--search {
	margin: 7px 10px; color: rgb(170, 184, 194); font-size: 14px;
}
.logged-out .blue-top-bar-experiment.topbar .global-nav-inner {
	background-color: rgb(85, 172, 238);
}
.logged-out .blue-top-bar-experiment.topbar .nav > li > a {
	color: rgb(255, 255, 255);
}
.logged-out .blue-top-bar-experiment.topbar .pull-right .caret {
	border-top-color: rgb(255, 255, 255); border-top-width: 4px; border-top-style: solid;
}
.logged-out .lohp-pop-search-box-experiment.topbar .search-input {
	border-color: rgb(225, 232, 237); font-size: 14px; box-shadow: inset 2px 2px 2px #f5f8fa; background-color: rgb(255, 255, 255);
}
.logged-out .lohp-pop-search-box-experiment.topbar .form-search .typeahead {
	background-color: rgb(255, 255, 255);
}
.front-page.logged-out .lohp-pop-search-box-experiment.topbar {
	border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none;
}
.front-page.logged-out .lohp-pop-search-box-experiment.topbar .search-container {
	padding: 14px 20px 20px; border-radius: 0px 0px 3px 3px; margin-left: 195px; box-shadow: 0px 0px 1px rgba(0,0,0,0.25); background-color: rgb(255, 255, 255);
}
.front-page.logged-out .lohp-pop-search-box-experiment.topbar .search-tagline {
	text-align: left; color: rgb(85, 172, 238); margin-bottom: 10px; display: block;
}
.front-page.logged-out .lohp-pop-search-box-experiment.front-card {
	margin-top: -154px;
}
@media screen and (max-width:1236px)
{
.logged-out .topbar .top-bar-big-search-box-experiment.search-container {
	margin-left: 0px;
}
.front-page.logged-out .lohp-pop-search-box-experiment.topbar .search-container {
	margin-left: 0px;
}
.logged-out .global-nav .top-bar-big-search-box-experiment #global-nav-search .search-input {
	transition:none;
}
}
@media screen and (max-width:895px)
{
.logged-out .global-nav .top-bar-big-search-box-experiment .form-search {
	width: 390px;
}
.logged-out .global-nav .top-bar-big-search-box-experiment .form-search .typeahead {
	width: 390px;
}
.logged-out .global-nav .top-bar-big-search-box-experiment #global-nav-search .search-input {
	width: 345px;
}
.front-page.logged-out .lohp-pop-search-box-experiment.topbar .search-container {
	padding: 0px; border-radius: 0px; box-shadow: none; background-color: transparent;
}
.front-page.logged-out .lohp-pop-search-box-experiment.topbar .search-tagline {
	display: none;
}
}
@media screen and (max-width:700px)
{
.logged-out .global-nav .top-bar-big-search-box-experiment .form-search {
	width: 290px;
}
.logged-out .global-nav .top-bar-big-search-box-experiment .form-search .typeahead {
	width: 290px;
}
.logged-out .global-nav .top-bar-big-search-box-experiment #global-nav-search .search-input {
	width: 245px;
}
}
.logged-out .lohp-centered-search-box-experiment.topbar .search-input {
	border-color: rgb(225, 232, 237); font-size: 14px; box-shadow: inset 2px 2px 2px #f5f8fa; background-color: rgb(255, 255, 255);
}
.logged-out .lohp-centered-search-box-experiment.topbar .form-search .typeahead {
	background-color: rgb(255, 255, 255);
}
.front-page.logged-out .lohp-centered-search-box-experiment.topbar .search-container {
	display: none;
}
.logged-out .lohp-centered-search-box-experiment.front-card {
	width: 760px; height: 480px; margin-left: -380px;
}
.logged-out .lohp-centered-search-box-experiment.front-card .search-tagline {
	margin: 0px 0px 15px; color: rgb(255, 255, 255); font-size: 2.3em; font-weight: normal;
}
.logged-out .lohp-centered-search-box-experiment.front-card .search-container {
	margin: 20px 0px 50px;
}
.logged-out .lohp-centered-search-box-experiment.front-card .search-input {
	border-color: rgb(225, 232, 237); padding: 4px 40px 4px 10px; border-radius: 4px; transition:0.2s ease-in-out; width: 708px; height: 30px; color: rgb(170, 184, 194); font-size: 16px; display: block;
}
.logged-out .lohp-centered-search-box-experiment.front-card .search-input:focus {
	border-color: rgb(225, 232, 237); color: rgb(102, 117, 127);
}
.logged-out .lohp-centered-search-box-experiment.front-card .search-icon {
	top: 0px; right: 0px; color: rgb(170, 184, 194); position: absolute;
}
.logged-out .lohp-centered-search-box-experiment.front-card .nav-search {
	background-position: 0px 0px; width: 40px; height: 40px; font-size: 18px;
}
.logged-out .lohp-centered-search-box-experiment.front-card .nav-search:focus {
	color: rgb(102, 117, 127);
}
.logged-out .lohp-centered-search-box-experiment.front-card .nav-search:hover {
	color: rgb(102, 117, 127);
}
.logged-out .lohp-centered-search-box-experiment.front-card .form-search .typeahead {
	border-radius: 0px 0px 4px 4px; border: 1px solid rgb(245, 248, 250); border-image: none; width: 760px; padding-top: 0px; margin-top: -3px; margin-left: 0px; opacity: 1; box-shadow: 0px 2px 6px rgba(0,0,0,0.25); background-color: rgb(255, 255, 255);
}
.logged-out .lohp-centered-search-box-experiment.front-card .form-search .typeahead .dropdown-caret {
	display: none;
}
.logged-out .lohp-centered-search-box-experiment .typeahead a {
	color: rgb(85, 172, 238); font-weight: bold;
}
.logged-out .lohp-centered-search-box-experiment .typeahead a:hover {
	color: rgb(255, 255, 255); font-weight: bold; background-color: rgb(85, 172, 238);
}
.logged-out .lohp-centered-search-box-experiment .typeahead a:focus {
	color: rgb(255, 255, 255); font-weight: bold; background-color: rgb(85, 172, 238);
}
.logged-out .lohp-centered-search-box-experiment .typeahead .selected a {
	color: rgb(255, 255, 255); font-weight: bold; background-color: rgb(85, 172, 238);
}
.logged-out .lohp-centered-search-box-experiment.front-card .front-signup {
	height: auto; float: left;
}
.logged-out .lohp-centered-search-box-experiment.front-card .front-signup {
	background: none; margin: 0px; border: 0px currentColor; border-image: none; width: 315px; box-shadow: none;
}
.logged-out .lohp-centered-search-box-experiment.front-card .front-signin {
	background: none; margin: 0px; border: 0px currentColor; border-image: none; width: 315px; box-shadow: none;
}
.logged-out .lohp-centered-search-box-experiment.front-card .front-signup h2 {
	padding: 0px; color: rgb(255, 255, 255); font-size: 18px; border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none; box-shadow: none; text-shadow: none;
}
.logged-out .lohp-centered-search-box-experiment.front-card .front-signin h2 {
	padding: 0px; color: rgb(255, 255, 255); font-size: 18px; border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none; box-shadow: none; text-shadow: none;
}
.logged-out .lohp-centered-search-box-experiment.front-card .front-signup .field {
	margin: 8px auto; width: auto; height: auto;
}
.logged-out .lohp-centered-search-box-experiment.front-card .front-signin .field {
	margin: 8px auto; width: auto; height: auto;
}
.logged-out .lohp-centered-search-box-experiment.front-card .front-signup .text-input {
	padding: 7px 11px; width: 291px; height: 19px; font-size: 14px; box-shadow: none;
}
.logged-out .lohp-centered-search-box-experiment.front-card .front-signin .text-input {
	padding: 7px 11px; width: 291px; height: 19px; font-size: 14px; box-shadow: none;
}
.logged-out .lohp-centered-search-box-experiment.front-card .front-signup .btn {
	margin: 0px; padding: 0px; width: 315px; height: 35px; box-shadow: none;
}
.logged-out .lohp-centered-search-box-experiment.front-card .front-signin .btn {
	margin: 0px; padding: 0px; width: 315px; height: 35px; box-shadow: none;
}
.logged-out .lohp-centered-search-box-experiment.front-card .front-signup .btn {
	text-shadow: 0px 1px 0px rgba(255,255,255,0.25);
}
.logged-out .lohp-centered-search-box-experiment.front-card .front-signin .signin {
	margin: 0px;
}
.logged-out .lohp-centered-search-box-experiment.front-card .front-signin .remember-forgot {
	margin: 14px 0px;
}
.logged-out .lohp-centered-search-box-experiment.front-card .front-signin .remember {
	color: rgb(255, 255, 255); line-height: 23px; text-shadow: none;
}
.logged-out .lohp-centered-search-box-experiment.front-card .front-signin .forgot {
	color: rgb(255, 255, 255); line-height: 23px; text-shadow: none;
}
.logged-out .lohp-centered-search-box-experiment.front-card .front-signin .separator {
	color: rgb(255, 255, 255); line-height: 23px; text-shadow: none;
}
.logged-out .lohp-centered-search-box-experiment.front-card .front-signin input[type=checkbox] {
	vertical-align: middle;
}
.lohp-gray-background-experiment.logged-out {
	background-color: rgb(245, 248, 250);
}
.lohp-gray-background-experiment.logged-out .front-container {
	min-height: 650px;
}
.lohp-gray-background-experiment.logged-out .lohp-centered-search-box-experiment.front-card {
	margin-top: -200px;
}
.lohp-gray-background-experiment.logged-out .lohp-centered-search-box-experiment.front-card .search-tagline {
	color: rgb(102, 117, 127);
}
.lohp-gray-background-experiment.logged-out .lohp-centered-search-box-experiment.front-card .search-input:focus {
	border-color: rgb(85, 172, 238);
}
.lohp-gray-background-experiment.logged-out .lohp-centered-search-box-experiment.front-card h2 {
	color: rgb(136, 153, 166);
}
.lohp-gray-background-experiment.logged-out .front-container .footer {
	color: rgb(136, 153, 166);
}
.lohp-gray-background-experiment.logged-out .front-container .footer a {
	color: rgb(136, 153, 166);
}
.lohp-gray-background-experiment.logged-out .front-container .footer a:hover {
	color: rgb(170, 184, 194);
}
.lohp-gray-background-experiment.logged-out .lohp-centered-search-box-experiment.front-card .front-signin .remember {
	color: rgb(136, 153, 166); font-size: 12px;
}
.lohp-gray-background-experiment.logged-out .lohp-centered-search-box-experiment.front-card .front-signin .forgot {
	color: rgb(136, 153, 166); font-size: 12px;
}
.lohp-gray-background-experiment.logged-out .lohp-centered-search-box-experiment.front-card .front-signin .separator {
	color: rgb(136, 153, 166); font-size: 12px;
}
.lohp-gray-background-experiment.logged-out .lohp-centered-search-box-experiment.front-card .form-search .typeahead {
	border-color: rgb(225, 232, 237); box-shadow: 0px 0px 2px rgba(0,0,0,0.1);
}
.logged-out .front-card .module.trends {
	margin: 0px 2px 10px; color: rgb(136, 153, 166); font-size: 13px;
}
.logged-out .front-card .module.trends a {
	color: rgb(85, 172, 238); font-weight: bold;
}
.lohp-centered-search-box-experiment.front-card .typeahead .concierge-title {
	color: rgb(136, 153, 166); font-size: 13px; font-weight: normal;
}
.front-signin .submit {
	line-height: 11px;
}
.front-signup .signup-btn {
	line-height: 11px;
}
.front-page .wrapper {
	display: none;
}
.front-page {
	background-color: rgb(41, 41, 41);
}
.front-random-image-cricket.front-page {
	background-color: rgb(136, 40, 17);
}
.front-random-image-iphone-concert.front-page {
	background-color: rgb(170, 0, 48);
}
.front-random-image-city-balcony.front-page {
	background-color: rgb(0, 103, 200);
}
.front-random-image-jp-square.front-page {
	background-color: rgb(52, 56, 65);
}
.front-random-image-jp-boat.front-page {
	background-color: rgb(78, 74, 64);
}
.front-random-image-jp-mountain.front-page {
	background-color: rgb(39, 80, 108);
}
.front-random-image-de-flags.front-page {
	background-color: rgb(162, 23, 0);
}
.front-random-image-de-mobile.front-page {
	background-color: rgb(220, 177, 0);
}
.front-random-image-de-plaza.front-page {
	background-color: rgb(6, 103, 200);
}
.front-container {
	left: 0px; top: 0px; right: 0px; bottom: 0px; display: none; position: absolute; min-height: 545px; max-height: 750px;
}
.front-page .front-container {
	display: block;
}
.front-card {
	left: 50%; width: 838px; position: absolute;
}
.front-card {
	margin: -154px 0px 0px -418px; top: 50%; width: 838px; height: 328px;
}
.front-welcome {
	background: url("../../img/t1/front_page/cricket.jpg") no-repeat left top rgb(0, 0, 0); border: 0px currentColor; border-image: none; width: 520px; height: 328px; float: left; display: block; box-shadow: 0px 1px 0px rgba(0,0,0,0.2), 0px 0px 125px rgba(255,255,255,0.35);
}
.front-random-image-cricket .front-welcome {
	box-shadow: 0px 1px 0px rgba(0,0,0,0.2), 0px 0px 125px rgba(255,190,43,0.35); background-image: url("../../img/t1/front_page/cricket.jpg");
}
.front-random-image-jp-mountain .front-welcome {
	border-radius: 6px; background-image: url("../../img/t1/front_page/jp-mountain.jpg");
}
.front-random-image-city-balcony .front-welcome {
	border-radius: 6px; background-image: url("../../img/t1/front_page/city-balcony.jpg");
}
.front-random-image-de-flags .front-welcome {
	background-image: url("../../img/t1/front_page/de-flags.png");
}
.front-random-image-de-mobile .front-welcome {
	background-image: url("../../img/t1/front_page/de-mobile.png");
}
.front-random-image-de-plaza .front-welcome {
	background-image: url("../../img/t1/front_page/de-plaza.png");
}
.front-random-image-de-flags .front-welcome {
	border-radius: 6px;
}
.front-random-image-de-mobile .front-welcome {
	border-radius: 6px;
}
.front-random-image-de-plaza .front-welcome {
	border-radius: 6px;
}
.front-welcome-text {
	padding: 20px; left: 0px; width: 470px; text-align: left; bottom: 0px; color: rgb(204, 214, 221); line-height: 22px; font-size: 20px; font-weight: 300; position: absolute; text-shadow: 0px 1px 2px #000;
}
.front-welcome-text h1 {
	color: rgb(255, 255, 255); font-size: 20px; font-weight: 700; margin-bottom: 3px;
}
.front-signin {
	width: 300px; margin-bottom: 11px; float: right;
}
.front-signup {
	width: 300px; height: 206px; float: right;
}
.front-welcome {
	border-radius: 4px;
}
.front-signin {
	border-radius: 4px;
}
.front-signup {
	border-radius: 4px;
}
.front-signup .signup {
	padding: 0px;
}
.front-welcome .signup-welcome-link {
	color: rgb(255, 170, 34);
}
.front-signin {
	background: linear-gradient(rgb(255, 255, 255), rgb(221, 221, 221)); border-right-color: rgb(225, 232, 237); border-bottom-color: rgb(204, 214, 221); border-left-color: rgb(225, 232, 237); border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; box-shadow: 0px 1px 0px rgba(0,0,0,0.1);
}
.front-signup {
	background: linear-gradient(rgb(255, 255, 255), rgb(221, 221, 221)); border-right-color: rgb(225, 232, 237); border-bottom-color: rgb(204, 214, 221); border-left-color: rgb(225, 232, 237); border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; box-shadow: 0px 1px 0px rgba(0,0,0,0.1);
}
.front-card .text-input {
	border: 1px solid rgb(204, 214, 221); border-image: none; box-shadow: inset 0px 1px 0px #eee, 0px 1px 0px #fff;
}
.front-signin .signin {
	margin: 12px 12px 6px;
}
.front-signin .field {
	height: 30px;
}
.front-card .text-input:focus {
	border: 1px solid rgb(86, 180, 239); border-image: none; box-shadow: inset 0px 1px 3px rgba(0,0,0,0.05), 0px 0px 8px rgba(82,168,236,0.6);
}
.front-card .text-input {
	height: 20px;
}
.front-signin .username .text-input {
	width: 266px;
}
.front-signin .password .text-input {
	height: 30px;
}
.front-signin .username {
	width: 276px; color: rgb(41, 47, 51);
}
.front-signin .password {
	width: 100%;
}
.front-signin .password-signin {
	margin-top: 6px;
}
.front-signin .remember-forgot {
	margin-top: 4px;
}
.front-signin .submit {
	height: 30px; box-shadow: 0px 1px 0px #fff;
}
.front-signin .remember {
	margin: 0px; color: rgb(136, 153, 166); line-height: 13px; font-size: 11px; display: inline; text-shadow: 0px 1px 0px rgba(255,255,255,0.6);
}
.front-signin .forgot {
	margin: 0px; color: rgb(136, 153, 166); line-height: 13px; font-size: 11px; display: inline; text-shadow: 0px 1px 0px rgba(255,255,255,0.6);
}
.front-signin .separator {
	margin: 0px; color: rgb(136, 153, 166); line-height: 13px; font-size: 11px; display: inline; text-shadow: 0px 1px 0px rgba(255,255,255,0.6);
}
.front-signin .remember input[type='checkbox'] {
	margin: 0px; height: 13px; vertical-align: text-top;
}
.ie9 .front-signin .remember input[type='checkbox'] {
	min-height: auto;
}
.front-signin .separator {
	margin: 0px 1px 0px 2px; color: rgb(136, 153, 166); font-weight: bold;
}
.front-signup h2 {
	padding: 10px 12px; color: rgb(102, 117, 127); font-size: 16px; font-weight: 300; margin-bottom: 12px; border-bottom-color: rgb(225, 232, 237); border-bottom-width: 1px; border-bottom-style: solid; display: block; position: relative; box-shadow: 0px 1px 0px #fff; text-shadow: 0px 1px 0px rgba(255,255,255,0.6);
}
.front-signin h2 {
	padding: 10px 12px; color: rgb(102, 117, 127); font-size: 16px; font-weight: 300; margin-bottom: 12px; border-bottom-color: rgb(225, 232, 237); border-bottom-width: 1px; border-bottom-style: solid; display: block; position: relative; box-shadow: 0px 1px 0px #fff; text-shadow: 0px 1px 0px rgba(255,255,255,0.6);
}
.front-signup h2 strong {
	color: rgb(41, 47, 51); font-weight: 500;
}
.front-signin h2 strong {
	color: rgb(41, 47, 51); font-weight: 500;
}
body.ru .front-signup h2 {
	font-size: 13px;
}
body.pl .front-signup h2 {
	font-size: 13px;
}
body.ru .front-signup h2 strong {
	font-weight: bold;
}
body.pl .front-signup h2 strong {
	font-weight: bold;
}
.front-signup .field {
	margin: 6px auto; width: 276px; display: block;
}
.front-signup .text-input {
	width: 266px;
}
.front-signup .btn {
	margin: 1px 12px 0px; height: 30px; padding-right: 12px; padding-left: 12px; box-shadow: 0px 1px 0px #fff;
}
.front-signup .legal {
	width: 280px; color: rgb(153, 153, 153); line-height: 14px; padding-left: 12px; font-size: 11px;
}
.front-container .footer {
	width: 100%; text-align: center; bottom: 30px; color: rgb(255, 255, 255); font-size: 11px; position: absolute;
}
.front-container .footer {
	color: rgba(255, 255, 255, 0.25);
}
.front-container .footer a {
	color: rgb(255, 255, 255);
}
.front-container .footer a {
	color: rgba(255, 255, 255, 0.5);
}
.front-container .footer ul {
	display: inline-block;
}
.front-container .footer a:hover {
	color: rgb(255, 255, 255); text-decoration: none;
}
.front-container .footer li {
	margin: 0px 3px; display: inline;
}
.front-container .footer .divider {
	display: none;
}
.front-warning {
	margin: 0px 0px 0px -418px; padding: 15px 20px; border-radius: 6px; left: 50%; top: 50px; width: 798px; height: 30px; color: rgb(204, 214, 221); line-height: 1.5; position: absolute; z-index: 2; background-color: rgba(20, 20, 20, 0.9);
}
.front-warning h3 {
	color: rgb(254, 198, 50); font-weight: bold;
}
.front-warning a {
	color: rgb(117, 198, 247);
}
#front-no-cookies-warn {
	display: none;
}
.front-page-photo-set .front-signin {
	background: white; border: 1px solid rgb(111, 163, 196); border-image: none; box-shadow: none;
}
.front-page-photo-set .front-signin h2 {
	padding: 12px; font-size: 14px;
}
.front-page-photo-set .front-signin .username {
	left: auto; top: auto; width: auto; position: relative;
}
.front-page-photo-set .username input {
	width: 266px;
}
.front-page-photo-set .password input {
	width: 98%;
}
.front-page-photo-set .session-dropdown .username span {
	line-height: 25px; font-size: 12px; font-weight: bold;
}
.front-page-photo-set .session-dropdown .password span {
	line-height: 25px; font-size: 12px; font-weight: bold;
}
.front-page-photo-set .front-signin .subchck {
	text-align: right; display: block;
}
.front-page-photo-set .front-signin .remember {
	font-size: 12px;
}
.front-page-photo-set .front-signin .forgot {
	font-size: 12px;
}
.front-page-photo-set .front-signin .remember {
	line-height: 20px;
}
.front-page-photo-set .front-signin .forgot {
	color: rgb(0, 132, 180);
}
.front-page-photo-set .front-signin .remember input[type='checkbox'] {
	vertical-align: baseline;
}
.front-page-photo-set .front-signin .footer-links {
	bottom: 14px; color: rgb(0, 132, 180); position: absolute;
}
.front-page-photo-set .front-signup {
	background: rgb(255, 255, 255); box-shadow: none;
}
.front-page-photo-set .front-container .footer a {
	color: white;
}
.front-page-photo-set .front-container .footer .copyright {
	color: white;
}
.front-page-photo-set .inline-list.footer {
	text-shadow: 0px 1px 1px rgba(0,0,0,0.2);
}
.front-page-photo-set .front-signup {
	border: 1px solid rgb(111, 163, 196); border-image: none;
}
.front-page-photo-set .front-container {
	min-height: 690px;
}
.front-page-photo-set .front-bg .front-image {
	display: block;
}
.front-page-photo-set .front-card {
	margin-top: -228px;
}
.front-page-photo-set .front-card {
	height: 410px;
}
.front-page-photo-set .front-container-full-signup .front-welcome {
	height: 410px;
}
.front-page-photo-set .front-welcome-text {
	top: 0px; height: 328px;
}
.front-page-photo-set .front-welcome-text h1 {
	color: rgb(255, 255, 255); line-height: 44px; font-size: 38px; margin-bottom: 30px; text-shadow: none;
}
.front-page-photo-set .front-welcome-text p {
	color: rgb(255, 255, 255); line-height: 31px; font-size: 21px; text-shadow: none;
}
.front-page-photo-set .background-companion-tweets {
	width: 400px; height: 82px; bottom: 0px; position: absolute;
}
.front-page-photo-set .companion-tweet {
	display: none;
}
.front-page-photo-set .companion-tweet a {
	color: rgb(255, 255, 255);
}
.front-page-photo-set .companion-tweet .text {
	margin-bottom: 20px;
}
.front-page-photo-set .companion-tweet .username {
	text-align: left; clear: both; text-decoration: underline; margin-bottom: 7px; float: left; white-space: nowrap;
}
.front-page-photo-set .companion-tweet .time {
	text-align: left; clear: both; text-decoration: underline; margin-bottom: 7px; float: left; white-space: nowrap;
}
.front-page-photo-set .front-signin {
	border: 1px solid rgb(225, 232, 237); border-image: none;
}
.front-page-photo-set .front-signup {
	border: 1px solid rgb(225, 232, 237); border-image: none;
}
.front-page-photo-set .front-signin .text-input {
	border: 1px solid rgb(204, 214, 221); border-image: none;
}
.front-page-photo-set .front-signup .text-input {
	border: 1px solid rgb(204, 214, 221); border-image: none;
}
.front-page-photo-set .front-container-full-signup .footer ul {
	width: auto; text-align: center;
}
.front-bg {
	background: rgb(0, 0, 0); left: -50%; width: 200%; height: 200%; position: fixed;
}
.front-bg img {
	margin: auto; left: 0px; top: 0px; right: 0px; bottom: 0px; display: none; min-height: 50%; min-width: 50%;
}
.front-random-image-cricket .front-bg .front-image {
	display: block;
}
.front-random-image-city-balcony .front-bg .front-image {
	display: block;
}
.front-random-image-jp-mountain .front-bg .front-image {
	display: block;
}
.front-container-full-signup .front-welcome {
	background: 0px; box-shadow: none;
}
.front-container-full-signup .front-welcome-text {
	padding: 0px; bottom: 50%;
}
.front-container-full-signup .footer ul {
	margin: 0px auto; width: 838px; text-align: left;
}
.front-container-full-signup .footer ul li {
	margin: 0px 6px 0px 0px;
}
.WebUpdatedHomepage {
	font-size: 12px;
}
.front-page.WebUpdatedHomepage {
	background: rgb(245, 248, 250);
}
.WebUpdatedHomepage .front-container {
	height: 650px;
}
.WebUpdatedHomepage-frontmain {
	background: url("../../img/t1/front_page/nh-headerbg.png") repeat-x; height: 550px;
}
.WebUpdatedHomepage-frontmain a {
	color: rgb(31, 158, 204); text-decoration: none;
}
.WebUpdatedHomepage-frontmain a:hover {
	text-decoration: underline;
}
.WebUpdatedHomepage-frontmain a:focus {
	text-decoration: underline;
}
.WebUpdatedHomepage .global-nav {
	background-color: rgb(255, 255, 255);
}
.WebUpdatedHomepage .global-nav-inner {
	margin: 0px auto; max-width: 950px;
}
.WebUpdatedHomepage .global-nav-inner > li .Icon {
	float: left;
}
.WebUpdatedHomepage .global-nav-inner .dropdown {
	float: right;
}
.WebUpdatedHomepage .front-container .footer {
	color: rgb(136, 153, 166); line-height: 20px; font-size: 12px; position: absolute;
}
.WebUpdatedHomepage .front-container .footer {
	color: rgb(136, 153, 166);
}
.WebUpdatedHomepage .front-container .footer a {
	color: rgb(0, 132, 180); text-decoration: none;
}
.WebUpdatedHomepage .front-container .footer a {
	color: rgb(0, 132, 180);
}
.WebUpdatedHomepage .front-container .footer a:focus {
	color: rgb(0, 132, 180); text-decoration: underline;
}
.WebUpdatedHomepage .front-container .footer a:hover {
	color: rgb(0, 132, 180); text-decoration: underline;
}
.WebUpdatedHomepage .front-container .footer li {
	margin: 0px 4px;
}
.FrontCard {
	margin: 0px auto; width: 892px; padding-top: 120px;
}
.FrontCard-welcome {
	letter-spacing: 0.5px;
}
.FrontCard-welcome-blurb {
	width: 500px; color: rgb(245, 248, 250); padding-bottom: 30px; padding-left: 5px;
}
.FrontCard-welcome-blurb .Icon {
	line-height: 44px; padding-right: 10px; font-size: 46px;
}
.FrontCard-welcome h1 {
	color: rgb(255, 255, 255); font-size: 28px; font-weight: 700; margin-bottom: 44px;
}
.FrontCard-welcome h3 {
	color: rgb(245, 248, 250); padding-top: 5px; font-size: 16px; font-weight: 500;
}
.FrontCard-sidebar {
	width: 300px; margin-top: -30px;
}
.FrontCard-sidebarMobile {
	color: rgb(41, 47, 51); line-height: 45px; font-size: 12px;
}
.FrontCard-sidebarMobile a {
	margin: 0px 4px;
}
.FrontCard .front-signin {
	background: rgb(255, 255, 255); border-width: 0px 1px 1px; border-style: solid; border-color: rgb(225, 232, 237); border-radius: 6px; border-image: none; margin-bottom: 12px; position: static;
}
.FrontCard .front-signup {
	background: rgb(255, 255, 255); border-width: 0px 1px 1px; border-style: solid; border-color: rgb(225, 232, 237); border-radius: 6px; border-image: none; margin-bottom: 12px; position: static;
}
.FrontCard-sidebarMobile {
	background: rgb(255, 255, 255); border-width: 0px 1px 1px; border-style: solid; border-color: rgb(225, 232, 237); border-radius: 6px; border-image: none; margin-bottom: 12px; position: static;
}
.FrontCard .front-signin {
	padding-top: 10px;
}
.FrontCard .front-signup {
	height: 204px;
}
.FrontCard .text-input {
	border-radius: 6px; height: 20px; padding-left: 5px; font-size: 12px;
}
.FrontCard .front-signin .username {
	margin: 6px auto; height: 30px; position: static;
}
.FrontCard .front-signin .password-signin {
	margin: 6px auto; height: 30px; position: static;
}
.FrontCard .front-signin .remember-forgot {
	margin: 6px auto; height: 30px; position: static;
}
.FrontCard .front-signin .password .text-input {
	height: 30px;
}
.FrontCard .front-signin .forgot a {
	color: rgb(31, 158, 204);
}
.FrontCard .front-signin .primary-btn {
	padding: 0px 10px; letter-spacing: 0.5px; font-size: 13px;
}
.FrontCard .btn.signup-btn {
	padding: 0px 7px; letter-spacing: 0.5px; font-size: 13px; margin-right: 12px; position: static; text-shadow: none;
}
.SignupCallOut {
	padding: 15px; border-radius: 6px; border: 1px solid rgb(225, 232, 237); border-image: none; background-color: rgb(136, 153, 166) !important;
}
.SignupCallOut--wide {
	padding: 30px 40px; border: 1px solid rgba(0, 0, 0, 0.1); border-image: none;
}
.SignupCallOut-title {
	color: rgb(255, 255, 255); line-height: 26px; font-size: 22px; font-weight: 300; margin-bottom: 5px;
}
.SignupCallOut-title b {
	font-weight: 700;
}
.SignupDialog .SignupDialog-body {
	padding: 30px;
}
.SignupDialog-bird {
	color: rgb(85, 172, 238);
}
.SignupDialog-heading {
	margin: 20px 0px; color: rgb(102, 117, 127); line-height: 26px; font-size: 22px; font-weight: 300;
}
.SignupDialog-form {
	margin: 0px auto; width: 260px;
}
.SignupDialog .SignupDialog-footer {
	border-color: rgb(225, 232, 237); color: rgb(136, 153, 166); line-height: 1; font-size: 14px; font-weight: 400;
}
.SignupDialog-signinLink {
	color: rgb(59, 148, 217);
}
.SignupForm input {
	width: 100%; margin-top: 10px; box-sizing: border-box; -moz-box-sizing: border-box;
}
.SignupForm--wide .SignupForm-inputsContainer {
	margin-bottom: 15px;
}
.SignupForm--wide .SignupForm-input {
	width: 33.33%; display: inline-block; box-sizing: border-box; -moz-box-sizing: border-box;
}
.SignupForm--wide .SignupForm-name {
	padding-right: 5px;
}
.SignupForm--wide .SignupForm-email {
	padding: 0px 5px;
}
.SignupForm--wide .SignupForm-password {
	padding-left: 5px;
}
.SignupForm--wide .SignupForm-submit {
	width: auto; margin-top: 0px; float: right;
}
.SignupForm-submit--yellowButton.SignupForm-submit {
	border-color: rgb(255, 170, 34); color: rgb(41, 47, 51); background-image: linear-gradient(rgb(254, 233, 79), rgb(253, 154, 15)); background-repeat: repeat-x; background-color: rgb(253, 154, 15);
}
.SignupForm-submit--yellowButton.SignupForm-submit:hover {
	border-color: rgb(236, 139, 17); background-image: linear-gradient(rgb(254, 220, 77), rgb(253, 149, 18)); background-repeat: repeat-x; background-color: rgb(253, 149, 18);
}
.SignupForm-submit--yellowButton.SignupForm-submit:focus {
	border-color: rgb(236, 139, 17); background-image: linear-gradient(rgb(254, 220, 77), rgb(253, 149, 18)); background-repeat: repeat-x; background-color: rgb(253, 149, 18);
}
.SignupForm-submit--yellowButton.SignupForm-submit:active {
	border-color: rgb(236, 139, 17); background-image: none;
}
.SignupForm input:focus {
	border-color: rgb(85, 172, 238); box-shadow: none;
}
.SignupForm .primary-btn:focus {
	border-color: rgb(255, 255, 255);
}
