.search {
	position: relative; z-index: 99;
}
.suggestion {
	border: 1px solid rgb(193, 193, 193); border-image: none; left: 42px; top: 41px; width: 379px; font-family: arial, simsun; font-size: 12px; position: absolute; z-index: 99; background-color: rgb(255, 255, 255);
}
.suggestion * {
	-ms-zoom: 1;
}
.suggestion .s_title {
	padding: 4px 0px 1px 11px; color: rgb(160, 163, 168); line-height: 18px; font-size: 12px;
}
.suggestion .suglist {
	padding-bottom: 6px;
}
.suggestion .suglist li {
	height: 27px; color: rgb(23, 44, 69); line-height: 27px; padding-left: 11px; font-size: 14px; cursor: pointer;
}
.suggestion .suglist .over {
	background: rgb(243, 243, 243); color: rgb(47, 146, 211);
}
