.s9Popover .watchlist-popover {
	width: 295px; overflow: hidden; padding-left: 3px; margin-top: -5px;
}
.s9Popover .watchlist-popover-top {
	background: url("../digital/video/avod-1-5/hoverback.png") no-repeat 4px 0px; width: 295px; height: 8px; line-height: 0; font-size: 1px;
}
.s9Popover .watchlist-popover-body {
	background: url("../digital/video/avod-1-5/hovermid.png") repeat-y 4px 0px; width: 295px;
}
.s9Popover .watchlist-popover-bottom {
	background: url("../digital/video/avod-1-5/hoverback.png") no-repeat 4px -11px; width: 295px; height: 8px; line-height: 0; font-size: 1px;
}
.s9Popover .aiv-watchlist-tab input {
	transition:none;
}
.s9Popover .watchlist-arrow {
	background: url("../digital/video/avod-1-5/watchlist-hover-arrows.png") no-repeat; padding: 0px 25px 5px; min-height: 200px;
}
.s9Popover .watchlist-arrow-Left {
	background: url("../digital/video/avod-1-5/watchlist-hover-arrows.png") no-repeat; padding: 0px 25px 5px; min-height: 200px;
}
.s9Popover .watchlist-arrow-Right {
	background: url("../digital/video/avod-1-5/watchlist-hover-arrows.png") no-repeat; padding: 0px 25px 5px; min-height: 200px;
}
.s9Popover .watchlist-popover .ap_content {
	margin: auto; width: 233px; overflow: hidden; position: relative;
}
.s9Popover .watchlist-arrow-Left {
	background-position: -18px 55px;
}
.s9Popover .watchlist-arrow-Right {
	background-position: 282px 55px;
}
.s9Popover .spinner {
	background: url("../javascripts/lib/popover/images/snake") no-repeat left top; margin: 50px auto auto; width: 16px; height: 16px; text-indent: -999px; display: block;
}
.s9Popover .amzn-logo {
	background: url("../digital/video/avod-1-5/aiv-logo.jpg") no-repeat right 2px; width: 270px; height: 40px;
}
